/* Generals */

i {
    font-size: 1.5rem;
    padding: 0 10px;
    color: grey;
}

.color-grey {
    color: grey;
}

img {
    width: 50px;
}

li {
    list-style-type: none;
}

/* Background */

#bg-stop {
    background-image: linear-gradient(rgb(0,150,136) 20%, rgb(219,219,211) 20%);  
}

/* Main Content */

/* # TO DO REMOVE */
#main-content {
    width: 1200px;
    height: 95%;
}

/* User-Info */

#user {
    background-color: rgb(234,234,234); 
}

/* Alert Message */

#alert-message {
    background-color: rgb(142,218,252);
}

#bells i {
    background-color: white;
    color: rgb(142,218,252);
}

/* Search */

#search {
    background-color: rgb(250,250,250);
}

/* Contact */

#contact {
    background-color: white;
    height: 440px;
    overflow-y: scroll;
}

#contact ul {
    padding: 10px 0 0 10px;
}

/* Section Message */

#section-message {
    background-image: url("../img/mine.jpg");
    position: relative;
    height: 670px;
}

/* Header current contact */

#current-contact {
    background-color: rgb(234,234,234);
}

/* Message */

#message {
    overflow-y: scroll;
    height: 506px;
}

#message .messages {
    position: relative;
    margin: 15px 30px;
}

#message .messages, #message p {
    margin-bottom: 0;
}

#message span {
    color: grey;
    font-size: 10px;
    position: relative;
    bottom: 0;
    right: 0;
}

#message .messages {
    padding: 15px;
    border-radius: 10px;
}

.user-messages {
    background-color: rgb(213,249,186);
}

.contact-message {
    background-color: white;
}

.sended-message {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  flex-wrap: wrap;
}

.received-message {
  display: flex;
  flex-wrap: wrap;
}

/* Input Message */

#input-message {
    background-color: rgb(234,234,234);
    position: absolute;
    bottom: 0;
    width: 800px;
}

#input-message input {
    width: 700px;
    height: 50px;
}


